body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a3b0bc; /* Light background */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profile-container {
    text-align-last: center;
}
.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.horizontal-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.horizontal-menu li {
    margin-right: 20px;
}
.horizontal-menu li:last-child {
    margin-right: 0;
}
.horizontal-menu li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.horizontal-menu li a:hover {
    background-color: #ddd;
}
.content {
    padding: 20px;
}
hr.solid {
    border-top: 1px solid #bbb;
    width: 50%;
}
.footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.footer a {
    margin: 0 10px;
}
.intro-a-text {
            font-size: 25px; /* Increased font size for the passion text */
        }
.intro-b-text {
            font-size: 20px; /* Increased font size for the passion text */
        }
.intro-c-text {
            font-size: 17px; /* Increased font size for the passion text */
        }